<div class="login-page">
  <div class="container"> 
    <h3 class="w3ls-title w3ls-title1">WELCOME TO ADMIN PANEL</h3>
    <h4>
    <ul>
      <li><a routerLink="/addadmin">Add Employees</a></li>
      <li><a routerLink="/listmembers">Employees List</a></li>
      <li><a routerLink="/managecat">Manage Category</a></li>
      <li><a routerLink="/managesubcat">Manage Sub Category</a></li>
      <li><a routerLink="/manageprod">Manage Products</a></li>
      <li><a routerLink="/allorders">All Orders</a></li>
    </ul>
  </h4>
    </div>
</div> 