<div class="login-page">
  <div class="container"> 
    <h3 class="w3ls-title w3ls-title1">Change your Password</h3>  
    <div class="login-body">
      <form #npass="ngForm">
        <input type="password" name="password" class="lock" placeholder="Enter your password" required="" [(ngModel)]="cpass">
        <input type="password" name="newpassword" class="lock" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Please enter new password" required="" [(ngModel)]="newpass">
        <input type="password" name="cnewpassword" class="lock" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Re-enter your new password" required="" [(ngModel)]="cnewpass">
        <input type="submit" value="Submit" (click)="onpasschange(npass)">
        </form>
        <div>{{msg}}</div>
    </div>  
    
  </div>
</div>
<!-- //login-page --> 

